@media (max-width: 576px) {
  #home-first-slider {
    height: 30vh;
    .swiper {
      .swiper-slide {
        p {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }
  #home-about {
    padding-top: 50px;
    .bg-orange-img{
      img{
        height: 200px;
      }
      &::before {
        height: 257px;
        background-color: rgba(235, 129, 55, 1);
        position: absolute;
        z-index: 1;
      }
    }
    h3 {
      font-size: 35px;
      text-align: center;
    }
    p {
      width: 100%;
      font-size: 15px;
    }
    .order1 {
      order: 1;
    }
    .order2 {
      order: 2;
    }
    .order3 {
      order: 3;
    }
  }
  #home-products {
    .section-title {
      font-size: 35px;
      &:after {
        width: 150px;
      }
    }
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          .slider-content {
            h6 {
              font-size: 18px;
              left: 8%;
            }
          }
        }
      }
    }
  }
  #home-selected-projects {
    .section-title {
      font-size: 30px;
      &:after {
        width: 250px;
      }
    }
    .selected-project {
      width: 100%;
      img {
        height: 260px;
        width: 200px;
        object-fit: cover;
      }
    }
    .top {
      display: none;
    }
  }
  #home-partners {
    .section-title {
      font-size: 30px;
      &:after {
        width: 150px;
      }
    }
    .normal-block {
      display: none;
    }
    .responsive-block {
      display: block;
    }
  }
  #home-statistics {
    .background {
      .section-title {
        top: 35%;
        font-size: 30px;
      }
      .right-side {
        top: 60%;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        column-gap: 40px;
        .count {
          font-size: 50px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  #home-about {
    padding-top: 50px;
    .bg-orange-img{
      img{
          height: 250px;
      }
      &::before {
        height: 323px;
        background-color: rgba(235, 129, 55, 1);
        position: absolute;
        z-index: 1;
      }
    }
    h3 {
      font-size: 35px;
      text-align: center;
    }
    p {
      width: 100%;
      font-size: 15px;
    }
    .order1 {
      order: 1;
    }
    .order2 {
      order: 2;
    }
  }
  #home-selected-projects {
    .section-title {
      font-size: 35px;
      &:after {
        width: 250px;
      }
    }
    .selected-project {
      width: 100%;
      img {
        height: 260px;
        width: 300px;
        object-fit: cover;
      }
    }
    .top {
      display: none;
    }
  }
  #home-partners {
    .section-title {
      font-size: 30px;
      &:after {
        width: 150px;
      }
    }
    .normal-block {
      display: none;
    }
    .responsive-block {
      display: block;
    }
  }
  #home-statistics {
    .background {
      .section-title {
        top: 35%;
      }
      .right-side {
        top: 60%;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        .count {
          font-size: 50px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #home-statistics {
    .background {
      .right-side {
        .count {
          font-size: 50px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
